<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Registrate</title>
    </head>
    <body>
        <form action = "/" method="GET" >
            <div>                         
                <label for="nombreApellido">Nombre y Apellido</label>
                <input type="text" placeholder= "Nombre y Apellido" size="15" name="nombreApellido" id="nombreApellido">
            </div>
            <div>
                <label for="username">Nombre de usuario</label>  
                <input type="text" name="username" id="username" placeholder= "Nombre de usuario" size="15" > 
           </div>    
           <div>
                <label for="password">Contraseña</label>  
                <input type="password" name="password" id="password" placeholder= "Contraseña" size="15" > 
           </div>
           <div>
                <label for="password">Repite la contraseña</label>  
                <input type="password" name="password" id="password" placeholder= "Repite la contraseña" size="15" > 
            </div>         
           <div>
                <label for="email">E-mail</label>  
                <input type="email" name="E-mail" id="email" placeholder="E-mail" size="15"> 
            </div>
            <div>
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="fecha" id="fechaNacimiento" placeholder="mm/dd/yyyy" size="15"> 
            </div>
            <div>
                <label for="domicilio">Domicilio</label>  
                <input type="text" name="domicilio" id="email" placeholder="Domicilio" size="15"> 
            </div>
            <div>
                <h3>Perfil de usuario</h3>
                <input type="radio" name="tipo-de-comprador" value="Comprador"> 
                <label for="Comprador">Comprador</label>  
                <input type="radio" name="tipo-de-comprador" value="Vendedor"> 
                <label for="Vendedor">Vendedor</label>  
            </div>
            <div>
                <h3>Intereses</h3>
                <input type="checkbox" name="Intereses" value="Electro"> 
                <label for="Electro">Electro</label>
                <input type="checkbox" name="Intereses" value="Moda"> 
                <label for="Moda">Moda</label>
                <input type="checkbox" name="Intereses" value="Hogar"> 
                <label for="Hogar">Hogar</label>
                <input type="checkbox" name="Intereses" value="Jugueteria"> 
                <label for="Jugueteria">Jugueteria</label>
                <input type="checkbox" name="Intereses" value="Vida Sana"> 
                <label for="Vida Sana">Vida Sana</label>
                
            </div>
            <div>
               
                <label for="file">Elige una imagen</label>
                <input type="file" name="file   " id="profilePic">
            </div>
                <button type="submit">Enviar</button> 
                <button type="reset">Borrar Todo</button> 
        </form>
    </body>
</html>